* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

.header .header__top {
  background-color: #c4c4c4;
  height: 330px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center; }
  .header .header__top .header__top__logo {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 85px auto; }
  .header .header__top .header__top__titulo {
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: #592E0B;
    line-height: 28,13px;
    justify-self: flex-end; }

.header .header__bottom {
  height: 330px;
  padding: 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-between; }
  .header .header__bottom .header__bottom__titulo {
    font-family: 'Playfair Display', serif;
    color: #592E0B;
    align-self: center;
    width: 75%;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    line-height: 21,09px; }
  .header .header__bottom .header__bottom__texto {
    color: #592E0B;
    font-size: 16px;
    font-weight: bold; }
  .header .header__bottom .header__bottom__puedesVisitarnos {
    color: #592E0B;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 14,06px;
    align-self: left; }
  .header .header__bottom .header__bottom__ul {
    display: flex;
    justify-content: space-around; }
    .header .header__bottom .header__bottom__ul .header__bottom__ul__li {
      list-style: none; }
      .header .header__bottom .header__bottom__ul .header__bottom__ul__li .header__bottom__ul__li__a__i {
        font-size: 50px; }

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px;
  background-color: #786855;
  position: sticky;
  width: 100%;
  height: 60px;
  top: 0;
  z-index: 1; }
  .nav .nav__logo {
    display: flex;
    align-items: center;
    font-family: 'Playfair Display', serif; }
    .nav .nav__logo .nav__logo__img {
      width: 49px;
      height: 50px;
      background-color: #e8e5e5; }
    .nav .nav__logo .nav__logo__titulo {
      color: white;
      font-size: 24px;
      font-weight: 400;
      margin: 9px; }
  .nav .nav__bars {
    font-size: 20px;
    color: white;
    align-self: center;
    margin-right: 30px;
    cursor: pointer; }
  .nav .nav__ul {
    display: none; }

.displayNone {
  display: none; }

.seccionProductos__container {
  display: flex;
  z-index: 0 !important; }

.producto {
  border: 1px solid black;
  margin: 10px;
  padding: 6px 8px;
  height: 230px;
  width: 168px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer; }
  .producto .producto__img {
    width: 150px;
    height: 150px;
    margin: 3px;
    background-color: #e8e5e5;
    border: 1px solid black;
    border-radius: 8px;
    align-self: center; }
  .producto .producto__nombre {
    color: #592E0B;
    text-align: center;
    font-family: 'Playfair Display', serif; }
  .producto .producto__caracteristicas,
  .producto .producto__descripcion {
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    margin: 2px;
    text-align: end; }

.verMas {
  background-color: #7C8278;
  font-family: 'Playfair Display', serif;
  margin: 10px 0;
  display: flex;
  justify-content: space-between; }
  .verMas .verMas__titulo {
    color: white;
    align-self: center;
    margin: 3px 10px; }
  .verMas .verMas__link {
    color: white;
    font-size: 12px;
    text-decoration: none;
    margin: 3px 10px; }

.tiendaOnline {
  display: flex;
  justify-content: space-around; }
  .tiendaOnline .tiendaOnline__texto {
    align-self: center; }
  .tiendaOnline .tiendaOnline__img {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%; }

.aboutUs {
  margin: 15px 0px; }
  .aboutUs img {
    background-color: dimgrey;
    width: 100%;
    height: 100px; }
  .aboutUs .historia {
    margin: 30px 5px; }
    .aboutUs .historia h4 {
      color: #592E0B;
      font-size: 24px;
      font-weight: normal;
      font-family: 'Playfair Display', serif; }
    .aboutUs .historia p {
      padding: 5px 0px;
      margin: 5px 0px;
      text-align: center;
      font-size: 16px; }
  .aboutUs .aboutUno {
    margin: 35px 5px;
    display: flex; }
    .aboutUs .aboutUno .mision h4 {
      color: #592E0B;
      font-family: 'Playfair Display', serif;
      font-size: 24px;
      font-weight: normal;
      text-align: center; }
    .aboutUs .aboutUno .mision p {
      padding: 5px 0px;
      text-align: center;
      font-size: 16px; }
    .aboutUs .aboutUno .vision {
      margin-left: 18px; }
      .aboutUs .aboutUno .vision h4 {
        color: #592E0B;
        font-family: 'Playfair Display', serif;
        font-size: 24px;
        font-weight: normal;
        text-align: center; }
      .aboutUs .aboutUno .vision p {
        padding: 5px 0px;
        text-align: center;
        font-size: 16px; }
  .aboutUs .valores {
    margin: 40px 5px;
    font-size: 18px; }
    .aboutUs .valores h4 {
      color: #592E0B;
      font-size: 24px;
      font-weight: normal;
      padding: 5px 0px; }
    .aboutUs .valores .valores__subtitulo {
      font-size: 12px;
      text-align: center;
      text-justify: center;
      margin: 5px;
      max-width: 95%; }
    .aboutUs .valores .valores__ul {
      display: flex;
      flex-direction: column;
      margin: 20px; }
      .aboutUs .valores .valores__ul .valores__ul__li {
        list-style: none; }
        .aboutUs .valores .valores__ul .valores__ul__li .valores__ul__li__items {
          margin: 5px;
          font-size: 12px; }

.footer {
  background-color: #644C39;
  padding: 10px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #F8FCFF; }
  .footer h3, .footer h5 {
    font-weight: normal; }
  .footer .footer__top {
    margin: 10px 5px; }
    .footer .footer__top .footer__top__img {
      background-color: darkgrey;
      width: 100px;
      height: 100px; }
  .footer .footer__bottom {
    margin: 10px 5px; }
    .footer .footer__bottom .footer__top__titulo {
      text-align: right;
      font-size: 18px;
      margin-bottom: 15px; }
    .footer .footer__bottom .footer__bottom__disenio {
      margin-top: 38px;
      text-align: right;
      font-size: 18px; }

.redes {
  margin: 10px 5px; }
  .redes h3 {
    color: #592E0B;
    font-size: 24px;
    font-weight: normal; }
  .redes .redes__clientesDicen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 180px; }
    .redes .redes__clientesDicen .classP {
      display: none; }
    .redes .redes__clientesDicen p {
      margin: 15px 5px;
      text-align: center, justify;
      height: 56px;
      font-size: 18px; }
  .redes .redes__iconos {
    padding: 20px; }
    .redes .redes__iconos h3 {
      margin: 5px; }
    .redes .redes__iconos ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 50px; }
      .redes .redes__iconos ul li a {
        text-decoration: none; }
