* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

.header .header__top {
  background-color: #c4c4c4;
  height: 330px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center; }
  .header .header__top .header__top__logo {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 85px auto; }
  .header .header__top .header__top__titulo {
    font-weight: 400;
    font-size: 24px;
    line-height: 28,13px;
    justify-self: flex-end; }

.header .header__bottom {
  height: 330px;
  padding: 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-between; }
  .header .header__bottom .header__bottom__titulo {
    align-self: center;
    width: 65%;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 21,09px; }
  .header .header__bottom .header__bottom__texto,
  .header .header__bottom .header__bottom__puedesVisitarnos {
    font-size: 12px;
    font-weight: 400;
    line-height: 14,06px;
    align-self: left; }
  .header .header__bottom .header__bottom__ul {
    display: flex;
    justify-content: space-around; }
    .header .header__bottom .header__bottom__ul .header__bottom__ul__li {
      list-style: none; }
      .header .header__bottom .header__bottom__ul .header__bottom__ul__li .header__bottom__ul__li__a__i {
        font-size: 50px; }

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px;
  background-color: #c4c4c4;
  position: sticky;
  width: 100%;
  height: 60px;
  top: 0;
  z-index: 1; }
  .nav .nav__logo {
    display: flex;
    align-items: center; }
    .nav .nav__logo .nav__logo__img {
      width: 49px;
      height: 50px;
      background-color: #e8e5e5; }
    .nav .nav__logo .nav__logo__titulo {
      font-size: 24px;
      font-weight: 400;
      margin: 9px; }
  .nav .nav__bars {
    font-size: 20px;
    align-self: center;
    margin-right: 30px;
    cursor: pointer; }
  .nav .nav__ul {
    display: none; }

.seccionProductos__container {
  display: flex;
  z-index: 0 !important; }

.producto {
  border: 1px solid black;
  margin: 10px;
  padding: 3px;
  height: 230px;
  width: 168px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer; }
  .producto .producto__img {
    width: 150px;
    height: 150px;
    margin: 5px;
    background-color: #e8e5e5;
    border: 1px solid black;
    border-radius: 8px;
    align-self: center; }
  .producto .producto__nombre {
    text-align: center; }
  .producto .producto__caracteristicas,
  .producto .producto__descripcion {
    font-size: 12px;
    margin: 2px;
    text-align: end; }

.verMas {
  background-color: #e8e5e5;
  margin: 10px 0;
  display: flex;
  justify-content: space-between; }
  .verMas .verMas__titulo {
    align-self: center;
    margin: 3px 10px; }
  .verMas .verMas__link {
    text-decoration: none;
    margin: 3px 10px;
    color: black; }

.tiendaOnline {
  display: flex;
  justify-content: space-around; }
  .tiendaOnline .tiendaOnline__texto {
    align-self: center; }
  .tiendaOnline .tiendaOnline__img {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%; }
