* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

.header .header__top {
  height: 310px;
  z-index: 0;
  opacity: 0.99; }

.header .header__top__1 {
  background: url("../imagenes/pequenias/1.png") center; }

.header .header__top__2 {
  background: url("../imagenes/pequenias/2.png") center; }

.header .header__top__3 {
  background: url("../imagenes/pequenias/3.png") center; }

.header .header__top__4 {
  background: url("../imagenes/pequenias/4.png") center; }

.header .header__top__5 {
  background: url("../imagenes/pequenias/5.png") center; }

.header .header__top__6 {
  background: url("../imagenes/pequenias/6.png") center; }

.header .headerLogoContainer {
  position: absolute;
  top: 120px;
  margin-left: 10px; }
  .header .headerLogoContainer .headerLogo {
    width: 100px;
    height: 100px;
    background-color: #a7a3a3;
    margin-left: 10px; }
  .header .headerLogoContainer .headerTitulo {
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    width: 112px;
    padding-top: 10px;
    padding-left: 10px;
    color: #592E0B;
    justify-self: flex-end; }

.header .header__bottom {
  height: 330px;
  padding: 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-between; }
  .header .header__bottom .header__bottom__titulo {
    font-family: 'Playfair Display', serif;
    color: #592E0B;
    align-self: center;
    width: 75%;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    line-height: 21,09px; }
  .header .header__bottom .header__bottom__texto {
    color: #592E0B;
    font-size: 16px;
    font-weight: bold; }
  .header .header__bottom .header__bottom__puedesVisitarnos {
    color: #592E0B;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 14,06px;
    align-self: left; }
  .header .header__bottom .header__bottom__ul {
    display: flex;
    justify-content: center; }
    .header .header__bottom .header__bottom__ul .header__bottom__ul__li {
      list-style: none; }
      .header .header__bottom .header__bottom__ul .header__bottom__ul__li .header__bottom__ul__li__a__i {
        margin: 10px;
        font-size: 50px;
        color: #592E0B; }

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px;
  background-color: #786855;
  position: sticky;
  width: 100%;
  height: 60px;
  top: 0;
  z-index: 1; }
  .nav .nav__logo {
    display: flex;
    align-items: center;
    font-family: 'Playfair Display', serif; }
    .nav .nav__logo .nav__logo__img {
      width: 49px;
      height: 50px;
      background-color: #e8e5e5; }
    .nav .nav__logo .nav__logo__titulo {
      color: white;
      font-size: 24px;
      font-weight: 400;
      font-family: 'Playfair Display', serif;
      margin: 9px; }
  .nav .nav__bars {
    font-size: 20px;
    color: white;
    align-self: center;
    margin-right: 30px;
    cursor: pointer; }
  .nav .nav__ul {
    display: none; }

.displayNone {
  display: none; }

.seccionProductos__container {
  display: flex;
  z-index: 0 !important; }

.producto {
  margin: 10px;
  padding: 6px 8px;
  height: 230px;
  width: 168px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer; }
  .producto .producto__img {
    width: 150px;
    height: 150px;
    margin: 3px;
    background-color: #e8e5e5;
    border-radius: 8px;
    align-self: center; }
  .producto .producto__nombre {
    color: #592E0B;
    text-align: center;
    align-self: center;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0; }

.verMas {
  background-color: #7C8278;
  margin: 10px 0;
  display: flex;
  justify-content: space-between; }
  .verMas .verMas__titulo {
    font-family: 'Playfair Display', serif;
    color: white;
    align-self: center;
    margin: 3px 10px; }
  .verMas .verMas__link {
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    margin: 3px 10px; }

.tiendaOnline {
  display: flex; }
  .tiendaOnline .tiendaOnline__texto {
    align-self: center; }
  .tiendaOnline .tiendaOnline__img {
    margin: 20px;
    font-size: 40px;
    color: #592E0B; }

.aboutUs {
  margin: 15px 0px; }
  .aboutUs img {
    background-color: #c4c4c4;
    width: 100%;
    height: 100px; }
  .aboutUs .aboutInnerContainer {
    margin: 16px;
    max-width: 100vw; }
    .aboutUs .aboutInnerContainer h4 {
      color: #592E0B;
      font-size: 24px;
      font-weight: normal;
      font-family: 'Playfair Display', serif; }
    .aboutUs .aboutInnerContainer p {
      padding: 5px 0px;
      margin: 5px 0px;
      text-align: center;
      font-size: 16px;
      font-weight: 400; }
  .aboutUs .valores__ul {
    display: grid;
    grid-template-columns: 50% 50%; }
    .aboutUs .valores__ul .valores__ul__li {
      list-style: none;
      text-align: left; }
      .aboutUs .valores__ul .valores__ul__li .valores__ul__li__items {
        text-align: left; }

.footer {
  background-color: #644C39;
  padding: 10px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #F8FCFF; }
  .footer h3, .footer h5 {
    font-weight: normal; }
  .footer .footer__top {
    margin: 10px 5px; }
    .footer .footer__top .footer__top__img {
      background-color: darkgrey;
      width: 100px;
      height: 100px; }
  .footer .footer__bottom {
    margin: 10px 5px; }
    .footer .footer__bottom .footer__top__titulo {
      text-align: right;
      font-size: 18px;
      margin-bottom: 15px; }
    .footer .footer__bottom .footer__bottom__disenio {
      margin-top: 38px;
      text-align: right;
      font-size: 18px; }

.redes {
  margin: 30px 5px; }
  .redes h3 {
    color: #592E0B;
    font-size: 24px;
    font-weight: normal;
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px; }
  .redes .owl-carousel {
    z-index: 0; }
  .redes .owl-stage {
    width: 344px;
    height: 260px; }
  .redes .owl-item {
    width: 343px;
    height: 252px;
    padding: 50px 30px;
    text-align: center;
    background-color: #F1F0F7;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    align-items: center; }
  .redes .redes__iconos {
    padding: 20px; }
    .redes .redes__iconos h3 {
      margin: 5px; }
    .redes .redes__iconos ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 50px; }
      .redes .redes__iconos ul li a {
        text-decoration: none;
        margin: 10px;
        font-size: 50px;
        color: #592E0B; }
