/* About Us */

.aboutUs {
    margin: 15px 0px;

    .imagenHistoria {
        background: url("../imagenes/IMG_5793.JPG") no-repeat center/cover;
        width: 100%;
        height: 100px;
    }
    

    .aboutInnerContainer{
        margin: 16px;
        max-width: 100vw;

        h4{
            color: $marronO;
            font-size: 24px;
            font-weight: normal;
            font-family: 'Playfair Display', serif;  
        }

        p{
            padding: 5px 0px;
            margin: 5px 0px;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
        }
    }

    .valores__ul {
    margin-top: 25px;
    display: block;
    padding-left: 15px;
        .valores__ul__li{
            list-style-image: url(../imagenes/estrella.svg);
            
            .valores__ul__li__items{
                text-align: left;
                font-size: 16px;
            }
        }
    }
}

/* Media Queries About Us */

@media (max-width: 1115px) {
    .displayAbout {
        display: none;
    }   
}

@media (min-width: 1116px) {
        .aboutUs{
            .imagenHistoria{
            width: 680px;    
            height: 595px;

            .imgAbout {
                width: 250px;
                height: 250px;
                background-color: #a7a3a3;
                opacity: 0.4;
                margin-top: 345px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .responsiveAbout {
        display: flex; 
        flex-direction: row-reverse; 
        justify-content: space-between;
    }
    
    .aboutInnerContainer{
        padding: 10px;

        .historia__text{
            text-align: center;
        }

        .parrafoResponsive {
            width: 650px;
            height: 38px;
            
        }
    }
}
