/* Footer */

.footer {
    background-color: #7C8278;
    display: block;
    padding: 10px 15px;
    height: 230px;

    @media (min-width: 900px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        
    }

        @media (min-width: 1200px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            
        }

    .footer__top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

            @media (min-width: 1200px) {
            display: flex;
            align-items: center; 
            font-size: 22px;
            }

        .footer__top__img {
            margin-bottom: 10px;
            width: 100%;
            height: 100%;

            @media (min-width: 501px){
                height: 110px;
            }

            
            @media (min-width: 700px) {
                height: 134px;
                width: 400px; 
                margin: 0px 10px;                 
             }

             @media (min-width: 1200px) {
                height: 132px;
                width: 500px; 
                margin: 0px 15px;                 
             }

        }

        .footer__top__titulo {
           text-align: right;
           font-family: 'Playfair Display', serif;  

           
           h3 {
               font-size: 32px;
               font-weight: normal;
               color: black;
           }

           p {
               font-size: 20px;
               margin-top: 5px;
               display: none;
           }
            
           @media (min-width: 900px) {
            text-align: left;
            
            h3 {
                font-size: 36px;
                font-weight: normal;
            }
 
            p {
                font-size: 20px;
                width: 248px;
                height: auto;
            }
    }
                @media (min-width: 1200px) {
                        text-align: left;
                        
                        h3 {
                            font-size: 42px;
                        }
             
                        p {
                            font-size: 24px;
                            display: block;
                            width: 250px;
                            margin-left: 150px;
                            text-align: justify;
                        }
                }

        }  
         
    }

    .footer__bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        width: 100%;
        
            @media (min-width: 1200px) {
                height: 170px;
            }

        .footer__bottom__contacto {
            font-size: 16px;
            
            h5 {
                font-size: 20px;
                font-weight: normal;
                font-family: 'Playfair Display', serif;  

            }
            
            p {
                font-size: 14px;
            }

            @media (min-width: 900px) {
                height: 170px;
                margin-top: 30px;
                margin-left: 100px;

                h5 {
                    font-size: 20px;
                }
                
                p {
                    font-size: 14px;
                }

            }

            @media (min-width: 1200px) {
                height: 170px;
                margin-top: 30px;
                margin-left: 150px;

                h5 {
                    font-size: 24px;
                }
                
                p {
                    font-size: 14px;
                }
                        
            }
               
       }
        
        .footer__bottom__disenio {
            margin-top: 3px;
            font-size: 16px;

            h5 {
                font-size: 18px;
                font-weight: normal;
                font-family: 'Playfair Display', serif;  
                //text-align: right;
            }
            
            .footerTeam {
                font-family: 'Roboto', sans-serif; 
                font-size: 14px;
                text-align: right;
            }

            a {
                text-decoration: none;
                color: white;
            }

            p {
                font-size: 14px;
            }

            @media (min-width: 900px) {
                height: 100px;
                margin-top: 30px;
                margin-left: 100px;
                

                h5 {
                    font-size: 20px;
                    text-align: left;
                }
                
                p {
                    font-size: 14px;
                    text-align: left;
                }
        
            }

            @media (min-width: 1200px) {
                height: 170px;
                margin-top: 30px;
                margin-left: 160px;

                h5 {
                    font-size: 24px;
                }
                
                p {
                    font-size: 14px;
                }
                        
            }
  
        }
    }
}