/* Header */

.header{
    .header__top{
        height: 310px;
        z-index: 0;
        opacity: 0.99;
    }
    
    .header__top__1{
        background: url("../imagenes/pequenias/1.png") no-repeat center center/cover;
    }
    .header__top__2{
        background: url("../imagenes/pequenias/2.png") no-repeat center center/cover;
    }
    .header__top__3{
        background: url("../imagenes/pequenias/3.png") no-repeat center center/cover;
    }
    .header__top__4{
        background: url("../imagenes/pequenias/4.png") no-repeat center center/cover;
    }
    .header__top__5{
        background: url("../imagenes/pequenias/5.png") no-repeat center center/cover;
    }
    .header__top__6{
        background: url("../imagenes/pequenias/6.png") no-repeat center center/cover;
    }
    .header__top__7{
        background: url("../imagenes/pequenias/hombre1.png") no-repeat center center/cover;
    }
    .header__top__8{
        background: url("../imagenes/pequenias/hombre2.png") no-repeat center center/cover;
    }

    .headerLogoContainer{
        position: absolute;
        top: 200px;
        margin-left: 10px;
        
        .headerLogo{
            width: 100px;
            height: 100px;
            margin-left: 10px;
        }
    }
    
    .header__bottom{
        padding: 20px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        .header__changui{
            font-family: 'Playfair Display', serif;
            font-size: 48px;
            color: $marronO;
            text-align: center;
        }
        .header__jewels{
            font-size: 20px;
            text-align: center;
            color: $marronF;
            margin-bottom: 20px;
        }
        .header__bottom__titulo{
            font-family: 'Playfair Display', serif;
            color: $marronO;
            align-self: center;
            width: 270px;
            font-size: 24px;
            font-weight: 400;
            text-align: center;
            margin-bottom: 80px;

        }
        .header__bottom__texto{
            color: $marronO;
            font-size: 16px;
            font-weight: bold;
            display: none;
        }
        .header__bottom__puedesVisitarnos{
            color: $marronO;
            font-family: 'Playfair Display', serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 14,06px;
            align-self: left;
        }
        .header__bottom__ul{
            display: flex;
            justify-content: center;
            .header__bottom__li{
                list-style: none;
                    .header__bottom__i{
                        margin: 10px;
                        font-size: 50px;
                        color: black;
                    }
            }
        }
    }
}

/* Media Queries Header */

.header{
    .header__top{
        @media (min-width: 900px) {
            height: 469px;            
        }
    
        @media (min-width: 1440px) {
            height: 569px;  
        }
    }
    
    .header__top__1{
        @media (min-width: 1200px) {
            background: url(../imagenes/grandes/1.png) no-repeat center center/cover;            
        }
    }
    
    .header__top__2{
        @media (min-width: 1200px) {
            background: url(../imagenes/grandes/IMG_0974.png) no-repeat center center/cover;
        }
    }
    
    .header__top__3{
        @media (min-width: 1200px) {
            background: url(../imagenes/grandes/IMG_0975.png) no-repeat center center/cover;
        }
    }
    
    .header__top__4{
        @media (min-width: 1200px) {
            background: url(../imagenes/grandes/IMG_0979.png) no-repeat center center/cover;
        }
    }
    
    .header__top__5{
        @media (min-width: 1200px) {
            background: url(../imagenes/grandes/IMG_5792.png) no-repeat center center/cover;
        }
    }
    
    .header__top__6{
        @media (min-width: 1200px) {
            background: url(../imagenes/grandes/IMG_5794.png) no-repeat center center/cover;
        }
    }

    .header__top__7{
        @media (min-width: 1200px) {
            background: url(../imagenes/grandes/hombre1.png) no-repeat center center/cover;
        }
    }
    
    .header__top__8{
        @media (min-width: 1200px) {
            background: url(../imagenes/grandes/hombre2.png) no-repeat center center/cover;
        }
    }
    
    .headerLogoContainer{
        .headerLogo{
            @media (min-width: 900px) {
                width: 150px;
                height: 150px;
                margin-left: 100px;
                margin-top: 100px;
            }
            
            @media (min-width: 1440px) {
                width: 250px;
                height: 250px;
                margin-left: 20px;
                // margin-top: 100px;   
            }
        }

        .headerTitulo{
            @media (min-width: 900px) {
                width: 367px;
                height: 53px;
                font-size: 30px;
                margin-left: 60px;
            }
            
            @media (min-width: 1440px) {
                width: 487px;
                height: 53px;
                font-size: 40px;
                margin-left: 60px;
            }
        }
    }
    
    .header__bottom{
        .header__changui{
            @media (min-width: 1440px) {
                font-size: 80px;
            }
        }
        .header__jewels{
            @media (min-width: 1440px) {
                font-size: 30px;
                margin-bottom: 40px;
            }
        }
        .header__bottom__titulo{
            @media (min-width: 900px) {
                font-size: 28px;
                height: 86px;
                width: 360px;
                margin-bottom: 30px;
                
            }
            @media (min-width: 1440px) {
                font-size: 36px;
                height: 86px;
                width: 400px;
                
            }
        }
        
        .header__bottom__texto{
            @media (min-width: 900px) {
                display: none;   
            }
        }
        
        .header__bottom__puedesVisitarnos{
            @media (min-width: 900px) {
                color: $marronO;
                font-family: 'Playfair Display', serif;
                font-size: 20px;
                font-weight: 400;
                line-height: 14,06px;
                text-align: center;
                margin-top: 100px;
            }
            
            @media (max-width: 899px) {
                display: none;                
            }
        }
        
        .header__bottom__ul{
            .header__bottom__li{
                .header__bottom__a{
                    .header__bottom__i{
                        @media (min-width: 900px) {
                            margin: 15px 30px;
                            font-size: 50px;
                        }
                        
                        @media (min-width: 1200px) {
                            margin: 15px 30px;
                            font-size: 50px;
                        }
                    }

                }
            }
        }
    }
}