.header{
    .header__top{
        height: 310px;
        z-index: 0;
        opacity: 0.99;
    }
    
    .header__top__1{
        background: url("../imagenes/pequenias/1.png") center;
    }
    .header__top__2{
        background: url("../imagenes/pequenias/2.png") center;
    }
    .header__top__3{
        background: url("../imagenes/pequenias/3.png") center;
    }
    .header__top__4{
        background: url("../imagenes/pequenias/4.png") center;
    }
    .header__top__5{
        background: url("../imagenes/pequenias/5.png") center;
    }
    .header__top__6{
        background: url("../imagenes/pequenias/6.png") center;
    }

    .headerLogoContainer{
        position: absolute;
        top: 120px;
        margin-left: 10px;
        
        .headerLogo{
            width: 100px;
            height: 100px;
            background-color: #a7a3a3;
            margin-left: 10px;
        }
        .headerTitulo{
            font-weight: 400;
            font-family: 'Playfair Display', serif;
            font-size: 24px;
            width: 112px;
            // height: 57px;
            padding-top: 10px;
            padding-left: 10px;
            color: $marronO;
            justify-self: flex-end;
        }
    }

    .header__bottom{
        height: 330px;
        padding: 20px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        .header__bottom__titulo{
            font-family: 'Playfair Display', serif;
            color: $marronO;
            align-self: center;
            width: 75%;
            font-size: 24px;
            font-weight: 400;
            text-align: center;
            line-height: 21,09px;
        }
        .header__bottom__texto{
            color: $marronO;
            font-size: 16px;
            font-weight: bold;
        }
        .header__bottom__puedesVisitarnos{
            color: $marronO;
            font-family: 'Playfair Display', serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 14,06px;
            align-self: left;
        }
        .header__bottom__ul{
            display: flex;
            justify-content: center;
            .header__bottom__ul__li{
                list-style: none;
                    .header__bottom__ul__li__a__i{
                        margin: 10px;
                        font-size: 50px;
                        color: $marronO;
                    }
            }
        }
    }
}
