/* Navegación */

.nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px;
    background-color: $marronC;
    position: sticky;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 1;
    .nav__logo{
        display: flex;
        align-items: center;
        font-family: 'Playfair Display', serif;
        .nav__logo__img{
            width: 49px;
            height: 50px;
            background-color: #e8e5e5;
        }
        .nav__logo__titulo{
            color: $blanco;
            font-size: 24px;
            font-weight: 400;
            font-family: 'Playfair Display', serif;
            margin: 9px;
        }
    }
    .nav__bars{
        font-size: 20px;
        color: $blanco;
        align-self: center;
        margin-right: 30px;
        cursor: pointer;
    }
    .nav__ul{
        display: flex;
        flex-direction: row;
        .nav__li{
            display: flex;
            justify-content: space-between;
            list-style: none;
            .nav__a{
                text-decoration: none;
                font-size: 20px;
                font-family: 'Playfair Display', serif;
                margin: auto 30px;
                padding: auto 30px;
                color: $blanco;
            }
        }
    }
}

.displayNoneNav{
    display: none;
}

.displayNone{
    display: none;
}

/* Media Queries Navegación */

@media #{$desktop} {
    .nav{
        height: 144px;
        .nav__logo{
            .nav__logo__img{
                width: 132px;
                height: 132px;
            }
            .nav__logo__titulo{
                display: inline-block;
                width: 112px;
                margin: 24px;
            }
        }
        .nav__bars{
            display: none;
        }
        .nav__ul{
            .nav__li{
                .nav__a{
                    font-size: 32px;
                }
            }
        }
    }
}