.nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px;
    background-color: $marronC;
    position: sticky;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 1;
    .nav__logo{
        display: flex;
        align-items: center;
        font-family: 'Playfair Display', serif;
        // margin: 10px;
        .nav__logo__img{
            width: 49px;
            height: 50px;
            background-color: #e8e5e5;
        }
        .nav__logo__titulo{
            color: white;
            font-size: 24px;
            font-weight: 400;
            font-family: 'Playfair Display', serif;
            margin: 9px;
        }
    }
    .nav__bars{
        font-size: 20px;
        color: white;
        align-self: center;
        margin-right: 30px;
        cursor: pointer;
    }
    .nav__ul{
        display: none;
    }
}

.displayNone{
    display: none;
}