.redes {
    margin: 10px 5px;

    
    h3 {
        color: $marronO;
        font-size: 24px;
        font-weight: normal;
    }
    

    .redes__clientesDicen {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 180px;

            
            .classP {
                display: none;
            }

            p{
                margin: 15px 5px;
                text-align: center, justify;
                height: 56px;
                font-size: 18px;
            }
    }

    .redes__iconos {
        //margin: 5px 10px;
        padding: 20px;

        h3 {
            margin: 5px;    
        }

        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 50px;
            
            li {
                
                a {
                    text-decoration: none;    
                }

            }
        }
    }

}