/* Redes */

.redes {
    margin: 30px 5px;

    
    h3 {
        color: $marronO;
        font-size: 24px;
        font-weight: normal;
        font-family: 'Playfair Display', serif;
        margin-bottom: 20px;
    }

    .owl-carousel{
        z-index: 0;
    }


    .owl-stage{
        width: 344px;
        height: 260px;
    }
    
    .owl-item{
        width: 343px;
        height: 252px;
        padding: 50px 30px;
        text-align: center;
        background-color: $gris;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
        border-radius: 10px;

        display: flex;
        align-items: center;
    }

    .redes__iconos {
        padding: 20px;

        h3 {
            margin: 5px;    
        }

        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 50px;
            
            li {
                
                a {
                    text-decoration: none;
                    margin: 10px;
                    font-size: 50px;
                    color: black;    
                }

            }
        }
    }

}

/* Media Queries Redes */

// @media (max-width: 899px) {
//     .displayRedes {
//         display: none;
//     }   
// }

@media (min-width: 900px){
    .redes{
        h3{
            margin-top: 50px;
        }
        .redes__iconos{
            ul{
                margin-bottom: 100px;
                list-style: none;
                display: flex;
                justify-content: flex-start;
                i{
                    font-size: 80px;
                    margin: 25px;
                }
            }
    
        }
    }
}