$marronO: #592E0B;
$marronC: #786855;
$marronF: #644C39;
$verdeO: #7C8278;
$blanco: #F8FCFF;
$gris: #F1F0F7;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}


@import 'header';
@import 'nav';
@import 'productos';
@import 'aboutUs';
@import 'footer';
@import 'redes';